<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

  <!-- 定义变量 -->
  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="logFileName" value="disk-benchmark-${shortdate}.log"/>

  <!-- 定义目标 -->
  <targets>
    <!-- 文件日志 -->
    <target xsi:type="File"
            name="fileTarget"
            fileName="${logDirectory}/${logFileName}"
            layout="${longdate} [${level:uppercase=true}] ${logger} - ${message} ${exception:format=tostring}"
            archiveFileName="${logDirectory}/archive/${logFileName}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- 控制台日志（调试用） -->
    <target xsi:type="Console"
            name="consoleTarget"
            layout="${longdate} [${level:uppercase=true}] ${logger} - ${message} ${exception:format=tostring}" />
  </targets>

  <!-- 定义规则 -->
  <rules>
    <!-- 所有日志写入文件 -->
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    
    <!-- 调试模式下同时输出到控制台 -->
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
  </rules>
</nlog>


